<!DOCTYPE html>
<html>
<head>
  <title>Roboto</title>
  <%= stylesheet_link_tag    "roboto/application" %>
  <%= javascript_include_tag "roboto/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
